

<div class="invoice-details mt25" style="margin:20px 20px;">
    <div class="well">
        <ul class="list-unstyled mb0">
            <li><strong>Email: </strong>{{paid.user}}</li>
            <li><strong>Service: </strong>{{paid.service}}</li>
            <li><strong>Amount: </strong>{{paid.amount}}</li>
            <li><strong>Transaction: </strong>{{paid.ref}}</li>
            <li><strong>Date: </strong>{{paid.date_created}}</li>
            <li><strong>Status: </strong> PAID</li>
        </ul>
    </div>
</div>