{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
        <li class="breadcrumb-item">Home</li>
        <li class="breadcrumb-item">Payment</li>
        <li class="breadcrumb-item active">Payment Histroy</li>
{% endblock breadcrumb%}





{% block content %}
<div class="container animated fadeIn">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            
                            {% if payments %}
                                {% for payment in payments %}
                                <ul class="list-unstyled mb0">
                                    <li><strong>Names: </strong>{{payment.user.full_name}}</li>
                                    <li><strong>Email: </strong>{{payment.user}}</li>
                                    <li><strong>Matric Number: </strong>{{payment.user.matric_number}}</li>
                                    <li><strong>Department: </strong>{{payment.user.department}}</li>
                                    <li><strong>Faculty: </strong>{{payment.user.faculty}}</li>
                                    <li><strong>Session: </strong>{{payment.user.session}}</li>
                                    <li><strong>Service: </strong>{{payment.service}}</li>
                                    <li><strong>Amount: </strong>{{payment.amount}}</li>
                                    <li><strong>Referrence No: </strong>{{payment.ref}}</li>
                                    <li><strong>Date: </strong>{{payment.date_created}}</li>
                                    <li><strong>Status: </strong>{{payment.transaction}}</li>
                                </ul>
                                <br>
                                {% endfor %}
                                <a href="{% url 'accounts:generate_payment_history_pdf' %}">Download PDF</a>
                            {% endif %}
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
<br>
{% endblock %}